%container {
  width: 100%;
  max-width: $width-page + ($gutter * 2);
  margin: 0 auto;
  padding: 0 $gutter;

  @include max-xl {
    max-width: $width-page-xl + ($gutter * 2);
  }
  @include max-l2 {
    max-width: $width-page-l2 + ($gutter * 2);
  }
  @include max-l1 {
    max-width: $width-page-l1 + ($gutter * 2);
  }
  @include max-md {
    max-width: $width-page-md + ($gutter * 2);
  }
  // @include max-sm {
  //   max-width: $width-page-sm + ($gutter * 2);
  // }
}

.container {
  @extend %container;
}
