/* Path source
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$urlImg: "../..assets/images";
$urlFont: "../../assets/fonts";

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$white: white;
$black: black;
$green1: #b5d43b;
$green2: #59760b;
$green3: #648609;
$green4: #d9ef82;
$dark: #434738;
$light: #f7f7f7;
$color-primary: $dark;
$color-secondary: #f53838;

/* Gradient
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$gradient-1: linear-gradient(
  to bottom,
  rgba(120, 149, 254, 1) 0%,
  rgba(176, 191, 254, 1) 100%
);

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-roboto: "Roboto", sans-serif;
$font-icon: "icon";
$font-primary: $font-roboto;
$font-heading: $font-roboto;

/* Width page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Base on design
$gutter: 15px;

$width-page: 1316px;
$width-page-xl: 1200px;
$width-page-l2: 1168px;
$width-page-l1: 1024px;
$width-page-md: 680px;
$width-page-sm: 304px;

/* Breakpoint
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$break-xxl: 1680px;
$break-xl: 1400px;
$break-l2: 1280px;
$break-l1: 1168px;
$break-md: 1024px;
$break-m: 992px; // device
$break-sm: 768px; // mobile
$break-s: 640px;
$break-x: 480px;
$break-xs: 375px;

$layout-breakpoints: (
  // Base on project
  xxl: 1680px,
  xl: 1440px,
  md: 1024px,
  sm: 768px,
  xs: 375px
) !default;

/* Font-size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-default: $font-size-3 !default;

$size-by-breakpoints: (
  // Base on project
  xxl: $font-size-3,
  xl: $font-size-2,
  md: $font-size-2,
  sm: $font-size-1,
  xs: $font-size-1
) !default;

/* Line-height
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$line-height-1: 1.66; // Text
$line-height-2: 1.2; // Heading
$line-height-default: $line-height-1;

/* Font-weight
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-default: $font-weight-regular;

/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$cubic1: cubic-bezier(0.19, 1, 0.22, 1);
$cubic2: cubic-bezier(0.48, 0.48, 0.57, 0.57);
$cubic3: cubic-bezier(0.215, 0.61, 0.355, 1);
$cubic4: cubic-bezier(0.4, 0, 0.2, 1);

$transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
$transition-secondary: all 0.3s ease;
