/* Roboto
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// @include font-face($font-roboto, "../fonts/Roboto/Roboto-Light", 300, lighter, ttf woff woff2);
// @include font-face($font-roboto, "../fonts/Roboto/Roboto-Regular", 400, normal, ttf woff woff2);
// @include font-face($font-roboto, "../fonts/Roboto/Roboto-Bold", 700, bold, ttf woff woff2);

@font-face {
  font-family: "Roboto";
  src: url(#{$urlFont}/roboto/Roboto-Light.woff2) format("woff2"),
    url(#{$urlFont}/roboto/Roboto-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(#{$urlFont}/roboto/Roboto-Regular.woff2) format("woff2"),
    url(#{$urlFont}/roboto/Roboto-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(#{$urlFont}/roboto/Roboto-Bold.woff2) format("woff2"),
    url(#{$urlFont}/roboto/Roboto-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

// Icomoon
@font-face {
  font-family: "icon";
  src: url(#{$urlFont}/icomoon/icomoon.eot?ntgfan);
  src: url(#{$urlFont}/icomoon/icomoon.eot?ntgfan#iefix)
      format("embedded-opentype"),
    url(#{$urlFont}/icomoon/icomoon.ttf?ntgfan) format("truetype"),
    url(#{$urlFont}/icomoon/icomoon.woff?ntgfan) format("woff"),
    url(#{$urlFont}/icomoon/icomoon.woff2) format("woff2"),
    url(#{$urlFont}/icomoon/icomoon.svg?ntgfan#icon) format("svg");
  font-weight: normal;
  font-style: normal;
}
