:root {
  --pj-body: #{$font-size-default};
  // --pj-hero-text: #{1.5 * $font-size-default};
  // --pj-h1: #{2.5 * $font-size-default};
  // --pj-h2: #{1.75 * $font-size-default};
  // --pj-h3: #{1.5 * $font-size-default};
  // --pj-h4: #{1.125 * $font-size-default};
}
// @each $breakpoint, $size in $size-by-breakpoints {
//   @include media-breakpoint-down($breakpoint, $layout-breakpoints) {
//     :root {
//       @include make-font-size-define($size);
//     }
//   }
// }

* {
  outline: none !important;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  font-weight: $font-weight-default;
  font-family: $font-primary;
  line-height: $line-height-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-primary;

  // @include font-size(var(--pj-body));
  font-size: $font-size-default;

  @include max-l2 {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: $font-heading;
  line-height: $line-height-2;
  letter-spacing: 0;
}

h1 {
  // font-size: var(--pj-h1);
  font-size: 40px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

h2 {
  // font-size: var(--pj-h2);
  font-size: 40px;
  text-transform: uppercase;
}

h3 {
  // font-size: var(--pj-h3);
  font-size: 40px;
  font-weight: $font-weight-bold;

  @include max-l2 {
    font-size: 30px;
  }
}

h4 {
  // font-size: var(--pj-h4);
  font-weight: $font-weight-medium;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;

  //remove blank space under image
  vertical-align: middle;

  // check image dont have alt
  &:not([alt]),
  &[alt=""] {
    border: 5px solid red;
  }
}

p {
  // font-weight: $font-weight-regular;
  margin-block-start: 0;
  margin-block-end: 15px;

  &:last-child {
    margin-block-end: 0;
  }
}

a {
  @extend %link;

  &:hover {
    @extend %link-hover;
  }
}

input {
  width: 100%;
  border: 1px solid $color-primary;
  display: flex;
  padding: 8px 13px;
  display: flex;
  align-items: center;
  background: $white;
  position: relative;
  border-radius: 0;
  font-family: $font-primary;
  font-size: $font-size-default;
}

input:disabled {
  background: $color-primary;
}

::-webkit-input-placeholder {
  color: $color-primary;
  opacity: 0.7;
}

::-moz-placeholder {
  color: $color-primary;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: $color-primary;
  opacity: 0.7;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $color-primary;
}

.icon {
  @extend %icon;
}
