@import "styles/core/all.scss";

.careerWrap {
  height: 427px;
  @include background-image;
  position: relative;
}

.careerContent {
  max-width: 636px;
  max-height: 295px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($green3, 0.47);
  color: $light;
  padding: 56px;
  text-align: center;

  p {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
